*.icon-white {
    color: white;
}

*.icon-silver {
    color: #d9d9d9;
}

*.icon-green {
    color: green;
}

*.icon-red {
    color: red;
}

*.icon-dark {
    color: gray;
}

*.icon-dodger-blue {
    color: #1e90ff;
}

*.icon-orange {
    color: #ff8d1e;
}

*.icon-yellow {
    color: #ffeb1e;
}

@media  screen and (max-width: 768px) {
    /* small screen */
    div.full-details { display: none }
    div.less-details { display: block }
}

@media  screen and (min-width: 768px) and (max-width: 1024px) {
    /* medium screen */
    div.full-details { display: block }
    div.less-details { display: none }
    .hideable-column {display: none}
}

@media  screen and (min-width: 1024px) {
    /* large screen */
    div.less-details { display: none }
    .hideable-column {display: table-cell}
}

@font-face {
    font-family: 'Computerfont';
    src: url(Computerfont.ttf);
}

.computerfontXS {
    font-family: Computerfont, monospace;
    font-size: 1.3em;
}

.computerfontS {
    font-family: Computerfont, monospace;
    font-size: 2em;
}
