<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_header('Notificări', 'none')"></head>
<body>
<div class="container-fluid">

    <div th:replace="navigation :: header_menu"></div>
    <br>
    <div>
        <h2 style="color: #0d6efd">Introducere</h2>
        <p class="text-left font-weight-normal">
            Această notificare de confidențialitate are rolul de a vă informa cu privire la datele personale referitoare
            pe care Circuit Ecom, Bucuresti inregistrata la Registrul Comertului sub nr. J00/000/0000 cod de
            identificare fiscala RO00000, (care acționează în calitate de controlor de date și care este denumit în
            continuare "Al nostru" și "Noi") le colectează prin intermediul site-ului www.promat.com denumit în
            continuare "site-ul web"), de ce colectăm și procesăm astfel de date personale, pe ce bază legală și cum vom
            gestiona datele personale pe care ni le furnizați și datele dumneavoastră personale pe care le gasim la o
            simpla vizită a dumneavoastră pe site. Utilizarea de către dumneavoastră a site-ului presupune recunoașterea
            acestei notificări de confidențialitate.
        </p>
    </div>
    <div>
        <h2 style="color: #0d6efd">Temei legal</h2>
        <p class="text-left font-weight-normal">
            Va informam ca va procesam datele cu caracter personal pe baza consimtamantului dumneavoastra. Aveti dreptul
            de a va retrage acest consimtamant in orice moment, fara ca acest lucru sa afecteze legalitatea procesarii
            de date cu caracter personal efectuate anterior retragerii consimtamantului.
        </p>
    </div>
    <div>
        <h2 style="color: #0d6efd">Datele personale colectate</h2>
        <p class="text-left font-weight-normal">
            Colectăm date personale referitoare la dumneavoastră (denumite în continuare "date cu caracter personal") în
            două moduri:
        <p>
            prin înregistrarea și trimiterea informațiilor pe care alegeți să le introduceți pe anumite pagini ale
            site-ului. Informațiile marcate cu simbolul "*" trebuie să fie furnizate, pentru a ne permite să îndeplinim
            scopurile de prelucrare, după cum este menționat mai jos. Astfel de date personale colectate direct de la
            dumneavoastră includ [numele și prenumele dumneavoastră, data nașterii sau vârsta, naționalitatea, adresa
            personală sau profesională, adresa de e-mail personală sau profesională, numărul de telefon mobil sau de
            altă natură, activitatea, poziția, adresa IP sau alte informații personale sau informații de contact pe care
            ni le furnizați. De asemenea, vă putem solicita comentariile, sugestiile sau alte informații referitoare la
            site-ul web, produsele sau serviciile noastre sau compania noastră. Alte tipuri specifice de informații pot
            fi solicitate în legătură cu concursuri, tombole, alte promoții sau alte activități de marketing, inclusiv
            încărcarea textului, a conținutului video sau audio.
        </p>
        <p>
            prin cookie-uri.
        </p>
        <p>
            Pentru mai multe informații despre modulele cookie, consultați mai jos.
        </p>
        </p>
    </div>
    <div>
        <h2 style="color: #0d6efd">Utilizarea datelor personale</h2>
        <p class="text-left font-weight-normal">
        <p>
            Datele dumneavoastră personale vor fi utilizate exclusiv în măsura în care ne permit să:
        </p>
        <p>
            să răspundă solicitării dumneavoastră directe, așa cum este descrisă în momentul în care vă colectăm datele
            personale sau asa cum v-a fost descrisă înaintea utilizării datelor dumneavoastră personale;
        </p>
        <p>
            să vă administrați utilizarea site-ului, inclusiv, în măsura în care este cazul, participarea dumneavoastră
            la concursuri, tombole, alte promoții sau alte activități de marketing; și
        </p>
        <p>
            să vă trimitem e-mailuri sau alte informații de marketing despre o selecție de mărci, filiale și / sau
            parteneri cu care desfășurăm promoții sau programe comune de care ați putea fi interesați prin e-mail /
            postă / mesaje (cu condiția să oferiti atat noua cat si afiliatilor și / sau partenerilor noștri,
            consimțământul prealabil explicit în acest sens, dacă este necesar conform legii aplicabile).
        </p>
        <p>
            Putem combina datele personale pe care le trimiteți cu alte date personale pe care le-am obținut despre
            dumneavoastră în aceleași scopuri și din alte surse, inclusiv dacă ne-ați furnizat informațiile
            dumneavoastră în alte locuri sau pe alt suport (cum ar fi platformele sociale). Aceste surse sunt: Facebook,
            Twitter, YouTube, LinkedIn, Instagram, Snapchat.
        </p>
        <p>
            Este posibil să nu folosim datele dumneavoastră personale în scopuri noi care nu sunt încă preconizate în
            această notificare privind confidențialitatea, cu excepția cazului în baza unei autorizații legale
            aplicabile. În orice caz, înainte de a utiliza datele personale în alte scopuri, vă vom informa despre o
            astfel de modificare a acestei note de confidențialitate. În cazul activităților bazate pe consimțământ, nu
            vom procesa datele dumneavoastra personale pentru astfel de scopuri noi fără a obține mai întâi
            consimțământul dumneavoastră.
        </p>
        </p>
    </div>
    <div>
        <h2 style="color: #0d6efd">Categoria specială de date cu caracter personal</h2>
        <p class="text-left font-weight-normal">
            Nu vom colecta și nu vom procesa nicio categorie specială de date cu caracter personal care vă privesc. Categoriile
            speciale de date cu caracter personal includ date care dezvăluie originea rasială sau etnică, opiniile politice,
            credințele religioase sau filosofice sau alte convingeri de natură similară, apartenența la sindicate, date
            genetice, date biometrice în scopul identificării unice a unei persoane fizice, viața sexuală sau orientarea
            sexuală.
        </p>
    </div>
    <div>
        <h2 style="color: #0d6efd">Marketing direct</h2>
        <p class="text-left font-weight-normal">
            Nu vom folosi datele dumneavoastră personale pentru scopuri de marketing direct fără consimțământul dumneavoastră
            prealabil explicit, cu excepția cazului în care este autorizat de legislația în vigoare.
        </p>
        <p>
            Dacă, în orice moment, decideți să nu primiți niciun fel de informații comerciale sau promoționale de la noi, puteți
            beneficia gratuit și fără a vă oferi nici o justificare, de opțiunea de excludere a oricărei campanii de marketing
            direct și puteti sa vă opuneți prelucrării viitoare a datelor dumneavoastră personale pentru astfel de scopuri,
            trimițându-ne un e-mail la adresa circuit.ecom@gmail.com și menționați opțiunea "renuntare" în subiectul mesajului
            dumneavoastră de pe e-mail. Alternativ, puteți utiliza procedura de renunțare oferită în orice mesaj promoțional pe
            care îl primiți de la noi.
        </p>
        <p>
            Rețineți că renunțarea la primirea de mesaje promoționale de la noi nu vă va împiedica să primiți informații
            referitoare la orice contract pe care l-ați încheiat cu noi.
        </p>
    </div>
    <div>
        <h2 style="color: #0d6efd">Automatizarea procesului decizional</h2>
        <p class="text-left font-weight-normal">
            Nu vom folosi procese automatizate de luare a deciziilor, inclusiv profilarea, cu excepția situațiilor în care sunt
            autorizate de legislația în vigoare. În acest caz, vă vom informa despre logica implicată în decizie, precum și
            despre semnificația și consecințele preconizate ale unei astfel de procesări pentru dumneavoastră
        </p>
    </div>
    <div>
        <h2 style="color: #0d6efd">Partajarea datelor personale și transferarea datelor personale în țări terțe</h2>
        <p class="text-left font-weight-normal">
            Nu vom pune datele dumneavoastră personale la dispoziția niciunei terțe părți și nu vom dezvălui în mod public
            datele personale, cu excepția cazului în care aceste transferuri se bazează pe consimțământul dumneavoastră
            specific, necesar pentru îndeplinirea unui contract încheiat între dumneavoastră și Noi, sau atunci când un astfel
            de transfer de date personale este autorizat sau obligatoriu prin lege sau prin ordin al unei autorități
            administrative sau judiciare.
        </p>
        <p>
            Transferăm datele dumneavoastră personale către următorii destinatari: companii din grupul Circuit (companie-mamă a
            Circuit Ecom), afiliați, parteneri, furnizor de hosting, furnizor.
        </p>
        <p>
            Rețineți că ori de câte ori datele dumneavoastră personale sunt transferate către procesatori sau catre terțe părți
            situate în afara Spațiului Economic European în țări despre care Comisia Europeană considera ca nu ar garanta un
            nivel adecvat de protecție a datelor cu caracter personal, va vom asigura de implementarea măsurilor adecvate în
            conformitate cu legislația națională și europeană aplicabilă referitoare la protecția datelor. Puteți obține o copie
            a garanțiilor corespunzătoare sau informații despre locul în care au fost puse la dispoziție prin trimiterea unui
            e-mail la adresa circuit.ecom@gmail.com.
        </p>
    </div>
    <div>
        <h2 style="color: #0d6efd">Utilizarea cookie-urilor</h2>
        <p class="text-left font-weight-normal">
            Nu vom folosi procese automatizate de luare a deciziilor, inclusiv profilarea, cu excepția situațiilor în care sunt
            autorizate de legislația în vigoare. În acest caz, vă vom informa despre logica implicată în decizie, precum și
            despre semnificația și consecințele preconizate ale unei astfel de procesări pentru dumneavoastră
        </p>
        <p>
            Cookie-urile sunt fișiere text mici care sunt plasate pe computer sau pe un alt dispozitiv de către site-urile pe
            care le vizitați. Acestea sunt utilizate pe scară largă pentru a face ca site-urile Web să funcționeze sau pentru a
            functiona mai eficient, precum și pentru a oferi informații proprietarilor site-ului web.
        </p>
    </div>
    <div>
        <h2 style="color: #0d6efd">Informații generale despre cookie-urile utilizate</h2>
        <p class="text-left font-weight-normal">
            Acest site utilizează modulele cookie-uri de ex. pentru a vă păstra preferințele in materie de limbă, pentru a
            analiza daca utilizati site-ului web prin intermediul Google Analytics, pentru a activa funcțiile de interacțiune
            socială cu site-urile web externe de asistență socială acceptate. Atunci când vizitați site-ul nostru pentru prima
            dată, pagina de intrare va afișa informații privind confidențialitatea și formularea respectivă privind
            consimțământul pentru utilizarea cookie-urilor printr-un "banner cookie". Dacă veți continua să utilizați în mod
            activ site-ul și nu vă opuneți în mod activ utilizarii cookie-urilor, sunteți de acord cu utilizarea cookie-urilor
            noastre și acest consimțământ va fi stocat în browserul dumneavoastră, astfel încât sa nu fie nevoie ca informațiile
            să fie repetate pe fiecare pagină a site-ului. În cazul în care consimțământul lipsește în browserul dumneavoastră
            (de exemplu, dacă ați șters cookies-urile dumneavoastră), "bannerul cookie" cu informații privind confidențialitatea
            va apărea din nou data viitoare când vizitați site-ul Web. Este posibil sa instalam și sa utilizam anumite
            cookie-uri necesare din punct de vedere tehnic, care, prin urmare, nu necesită consimțământul dumneavoastră
            prealabil. De asemenea, este posibil să folosim cookie-uri de sesiune care sunt șterse automat la sfârșitul sesiunii
            și care, de asemenea, nu necesită consimțământul dumneavoastră prealabil. Alte cookie-uri (cum ar fi cookie-uri
            pentru a îmbunătăți experiența de navigație prin păstrarea înregistrării anumitor date - aceasta evită necesitatea
            reintroducerii acestor date la fiecare conexiune - și prin adaptarea conținutului site-ului la preferințele
            dumneavoastră) pot fi instalate și utilizate pe baza acordului dumneavoastră. Veți găsi toate informațiile relevante
            despre cookie-urile utilizate de acest site în tabelul de mai jos.
        </p>
    </div>
    <div>
        <h2 style="color: #0d6efd">Modul de ștergere / dezactivare a modulelor cookie</h2>
        <p class="text-left font-weight-normal">
            Pentru a șterge / dezactiva toate cookie-urile setate pe calculatorul dumneavoastră, majoritatea browserelor web vă
            permit să dezactivați complet utilizarea cookie-urilor sau să ștergeți cookie-urile create de anumite domenii /
            site-uri. Pentru a afla cum să faceți acest lucru, consultați pagina de ajutor a browserului dumneavoastră:
        </p>
        <p>
            Chrome: <a href="https://support.google.com/chrome/answer/95647?hl=en" >https://support.google.com/chrome/answer/95647?hl=en</a>
        </p>
        <p>
            Internet Explorer: <a href="http://windows.microsoft.com/en-US/internet-explorer/delete-manage-cookies#ie=ie-11-win-7" >http://windows.microsoft.com/en-US/internet-explorer/delete-manage-cookies#ie=ie-11-win-7</a>
        </p>
        <p>
            Firefox: <a href="http://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" >http://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</a>
        </p>
        <p>
            Safari: <a href="https://support.apple.com/kb/PH21411?viewlocale=en_US&locale=en_US" >https://support.apple.com/kb/PH21411?viewlocale=en_US&locale=en_US</a>
        </p>
        <p>
            Safari on IOS: <a href="https://support.apple.com/en-us/HT201265" >https://support.apple.com/en-us/HT201265</a>
        </p>
        <p>
            Opera: <a href="http://www.opera.com/help/tutorials/security/cookies" >http://www.opera.com/help/tutorials/security/cookies</a>
        </p>
        <p>
            Puteți împiedica în mod special colectarea și utilizarea de către Google a datelor (cookie-uri și adresa IP) pentru
            orice site Web pe care îl vizitați descărcând și instalând plug-in-ul de browser disponibil la adresa
             <a href="https://tools.google.com/dlpage/gaoptout?hl=en-GB" >https://tools.google.com/ dlpage / gaoptout? hl = en-GB</a>.
        </p>
        <p>
            Puteți, de asemenea, [refuza] în mod expres utilizarea Google Analytics pe acest site făcând clic pe următorul link.
            Un cookie de oprire va fi setat pe computer, ceea ce împiedică colectarea viitoare a datelor dumneavoastră atunci
            când vizitați acest site: Dezactivați Google Analytics.
        </p>
    </div>
    <br>
</div>

<div th:replace="navigation :: footer_menu"></div>
</body>
</html>