<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_header('Verificare reușită!', 'none')"></head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: header_menu"></div>

    <div>&nbsp;</div>

    <div class="text-center">
        <h2>Verificare client</h2>
        <h4>Felicitări! Contul tău de client a fost finalizat.</h4>
        <p><a th:href="@{/login}">Autentificare client</a></p>
    </div>

    <div>&nbsp;</div>

    <div th:replace="navigation :: footer_menu"></div>
</div>
</body>
</html>